/* tabs styling */
toolbar#TabsToolbar scrollbox > box {
    margin-bottom: -2px !important;
}
toolbar#TabsToolbar {
    margin-top: 1px !important;
}
toolbar#TabsToolbar toolbarbutton.tabs-newtab-button {
    padding: 0 !important;
    --toolbarbutton-border-radius: 0 !important;
}
toolbar#TabsToolbar hbox.tab-content {
    padding-left: 5px !important;
    padding-right: 3px !important;
    font-stretch: ultra-condensed !important;
    font-size: 85% !important;
}
toolbar#TabsToolbar .tab-close-button {
    transform: scale(0.85) !important;
}
/*toolbar#TabsToolbar tab:not([selected='true']) .tab-close-button {
    display: none !important;
}*/
toolbar#TabsToolbar tab .tab-close-button {
    display: none !important;
}
tabs {
    padding-bottom: 0px !important;
}
#alltabs-button {
    display: block !important;
    max-height: 0;
}
#titlebar {
    background-color: inherit !important;
    color: inherit !important;
}
