#tab-notification-deck {
    position: absolute !important;
    right: 0 !important;
}

.notificationbox-stack {
    background: none !important;
}

notification-message {
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));
}
